body {
  padding: 0px;
  margin: 0px;

  background-color: #519839;
}

.layout {
  margin: 0 auto;
  width: 800px;
}

.flex {
  height: 400px;
  /* display: flex;
  flex-direction: column; */
}

.textarea {
  width: 100%;
  display: block;
  height: 100%;
  resize: none;
}
