body {
  padding: 0px;
  margin: 0px;

  background-color: #519839;
}

.layout {
  margin: 0 auto;
  width: 800px;
}

.flex {
  height: 900px;
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
