body {
  /* height: 100svh; */
  /* overflow: hidden; */

  margin: 0px;
  background-color: #519839;
}

.layout {
  height: 100svh;

  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 44px 60px 1fr;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  background-color: #448030;
  border-bottom: solid 1px #519839;
}

.header .header-container {
  height: 100%;

  display: flex;
  align-items: center;
  column-gap: 20px;

  padding: 0px 20px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  background-color: #3e742b;
  border-right: solid 1px #519839;
}

.toolbar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-color: #3e742b;
}

.toolbar-container {
  height: 100%;

  /* center the items */
  display: flex;
  align-items: center;

  padding: 0px 20px;
}

.contents {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  overflow: auto;
}

.cards-container {
  display: flex;
  column-gap: 10px;
}

.card-list {
  /* since it's a flex item, setting width alone doesn't fix the width to 200px 
     you also need to set `flex-shrink; 0`avoid influence from parent(ancestor) boxes */
  width: 200px;
  flex-shrink: 0;

  border-radius: 8px;
  padding: 10px;
  background-color: #f1f2f4;
}

.card {
  border-radius: 8px;
  background-color: white;
  margin-bottom: 10px;
}
