body {
  /* height: 100svh; */
  /* overflow: hidden; */

  margin: 0px;
  background-color: #519839;
}

.layout {
  height: 100svh;

  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 44px 60px 1fr;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.toolbar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cards {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
