body {
  margin: 0px;
  background-color: #d5d4d0;
}

.wrapper {
  background-color: #f4f4f2;

  max-width: 1500px;
  min-height: 100svh;

  margin: 0 auto;
}

.search-bar-container {
  height: 60px;
  margin: 0px 60px;
}

.services-container {
  height: 60px;
  margin: 0px 60px;
}

.ad-container {
  height: 60px;
  margin: 0px 60px;
}

.top-contents-container {
  height: 60px;
  margin: 0px 60px;
}

.news-container {
  height: 60px;
  margin: 0px 60px;
}
