body {
  height: 100svh;
  overflow: hidden;

  padding: 0px;
  margin: 0px;

  background-color: #519839;
}

/* header */

.header {
  flex-grow: 0;
  background-color: #448030;
  border-bottom: solid 1px #519839;
}

.header-container {
  /* center the items */
  display: flex;
  align-items: center;

  padding: 0px 20px;
}

.header-dropdown {
  margin: 10px;
}

/* main container  */

.toolbar {
  background-color: #3e742b;
}

.toolbar-container {
  height: 60px;
  padding: 0px 20px;

  /* center the items */
  display: flex;
  align-items: center;
}

.main-container {
  height: 100%;

  display: flex;
}

/* main container > sidebar  */

.sidebar {
  background-color: #3e742b;
  border-right: solid 1px #519839;
}

.sidebar-container {
  width: 10px;

  /* center the items */
  display: flex;
  align-items: center;
}

/* main container > contents */

.contents {
  max-width: 100%;
}

.cards {
  height: calc(100svh - 60px - 44px);
  overflow-x: auto;
  max-width: 100%;
}

.cards-container {
  display: flex;
  column-gap: 10px;
}

.card-list {
  /* since it's a flex item, setting width alone doesn't fix the width to 200px 
     you also need to set `flex-shrink; 0`avoid influence from parent(ancestor) boxes */
  width: 200px;
  flex-shrink: 0;

  border-radius: 8px;
  padding: 10px;
  background-color: #f1f2f4;
}

.card {
  border-radius: 8px;
  background-color: white;
  margin-bottom: 10px;
}
